body {
    font-family: $font-family;
    color: $font-color;

    & a {
        color: $font-color;
        &:hover {
            color: $hover-color;
        }
    }
}

.box-shadow {
    @include boxShadow;
}