@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
$font-family: "Jost", sans-serif;
$font-color: #474554;
$hover-color: #0000ff;
$fade-icon: rgb(249 249 249 / 21%);