.sidebar{
    height: 100%;
    &__row {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20vh;
        &__items {
            & nav {
                display: flex;
                flex-direction: column;
                & a {
                    margin-bottom: 20px;
                    padding: 10px 20px;
                    text-decoration: none;
                    font-size: 16px;
                    &:hover {
                        font-size: 1.1rem;
                        transition: all .2s;
                    }
                    & .name {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}